.about {
  padding-top: 31px;
  padding-bottom: 58px;

  @media #{$screen-tablet} {
    padding-top: 55px;
    padding-bottom: 83px;
  }

  @media #{$screen-desktop} {
    padding-top: 68px;
    padding-bottom: 90px;
  }
}

.about__title {
  margin-bottom: 28px;

  @media #{$screen-tablet} {
    margin-bottom: 42px;
  }

  @media #{$screen-desktop} {
    margin-bottom: 39px;
  }
}

.about__advantages {

}
