.advantages {
  @include fz-lh(17px, 20px);

  font-weight: 700;

  @media #{$screen-tablet} {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.advantages__item {
  position: relative;

  padding-top: 54px;
  margin-bottom: 32px;
  background-repeat: no-repeat;

  &--flower {
    order: 1;
    background-image: url("../img/icon-feature-flower.svg");
  }

  &--money {
    order: 3;
    background-image: url("../img/icon-feature-money.svg");
  }

  &--heart {
    order: 5;
    background-image: url("../img/icon-feature-heart.svg");
  }

  &--ball {
    order: 2;
    background-image: url("../img/icon-feature-ball.svg");
  }

  &--rocket {
    order: 4;
    background-image: url("../img/icon-feature-rocket.svg");
  }

  &--gift {
    order: 6;
    margin-bottom: 0;
    background-image: url("../img/icon-feature-gift.svg");
  }
}
