.best-offer {
  margin-bottom: 31px;
  padding-bottom: 36px;
}

.best-offer__header {
  margin-bottom: 18px;
}

.best-offer__title {
  margin-bottom: 4px;
}

.best-offer__subtitle {
  @include fz-lh(17px, 20px);

  margin: 0;

  font-weight: 700;
}

.best-offer__description {
  @include fz-lh(15px, 24px);

  margin: 0;
  margin-bottom: 28px;
}

.best-offer__features {
  margin-bottom: 28px;
}

.best-offer__image {
  margin-bottom: 26px;
}

.best-offer__price {
  @include fz-lh(17px, 24px);

  margin: 0;
  margin-bottom: 25px;

  font-weight: bold;
  text-align: center;
}

.best-offer__button {

}
