.best-offer {
  margin-bottom: 31px;
  padding-bottom: 36px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    margin-bottom: 55px;
    padding-bottom: 69px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 68px;
    padding-bottom: 96px;
  }
}

.best-offer__header {
  margin-bottom: 18px;

  outline: 2px solid rgba(orange, 0.7);
  outline-offset: -2px;

  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
    display: flex;
    align-items: center;
    margin-bottom: 39px;
  }

  @media (min-width: $desktop-width) {
    grid-row: 1 / 2;
    margin-bottom: 0;
    padding-top: 60px;
  }
}

.best-offer__title {
  margin-bottom: 4px;

  @media (min-width: $tablet-width) {
    flex-grow: 1;
  }
}

.best-offer__subtitle {
  @include fz-lh(17px, 20px);

  margin: 0;

  color: $green;
  font-weight: 700;

  @media (min-width: $tablet-width) {
    flex-basis: 167px;
    line-height: 17px;
  }

  @media (min-width: $desktop-width) {
    order: -1;
  }
}

.best-offer__text {
  outline: 2px solid rgba(tomato, 0.7);
  outline-offset: -2px;

  @media (min-width: $tablet-width) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    padding-right: 42px;
  }

  @media (min-width: $desktop-width) {
    padding: 35px 58px 0 167px;
  }
}

.best-offer__description {
  @include fz-lh(15px, 24px);

  margin: 0;
  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    @include fz-lh(17px, 30px);

    margin-bottom: 48px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 60px;
  }
}

.best-offer__features {
  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    margin-bottom: 57px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 109px;
  }
}

.best-offer__image-container {
  margin-bottom: 26px;

  outline: 2px solid rgba(cyan, 0.7);
  outline-offset: -2px;

  @media (min-width: $tablet-width) {
    grid-column: 2 / 3;
    grid-row: 2 / 4;

    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    z-index: -1;
    margin-bottom: 0;
    grid-row: 1 / 4;
  }
}

.best-offer__image {

}

.best-offer__purchase {
  outline: 2px solid rgba(black, 0.7);
  outline-offset: -2px;

  @media (min-width: $tablet-width) {
    grid-row: 3 / 4;

    padding-right: 42px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 58px;
    padding-left: 167px;
  }
}

.best-offer__price {
  @include fz-lh(17px, 24px);

  margin: 0;
  margin-bottom: 25px;

  font-weight: bold;
  text-align: center;

  @media (min-width: $tablet-width) {
    @include fz-lh(20px, 24px);

    margin-bottom: 33px;
  }
}

.best-offer__button {
  width: 100%;
}
