.button {
  display: inline-block;

  padding: 0;

  font: inherit;
  vertical-align: middle;

  background-color: transparent;
  border: none;

  cursor: pointer;

  // Основные кнопки сайта

  &--primary {
    padding: 14px 11px;

    font-weight: 700;
    color: $text-heading;
    text-transform: uppercase;
    text-align: center;

    border: 2px solid $button-border-color;

    transition: background-color $short-transition, color $short-transition;

    &:hover,
    &:focus {
      color: $white;
      outline: none;
      background-color: $grey;
    }

    &:active {
      color: rgba($white, 0.3);
    }
  }

  &--index {
    @include fz-lh(18px, 20px);

    @media #{$screen-tablet} {
      font-size: 17px;
    }
  }

  &--catalog {
    @include fz-lh(18px, 16px);

    @media #{$screen-tablet} {
      font-size: 17px;
    }
  }

  &--form {
    @include fz-lh(17px, 16px);
  }
}
