.button {
  display: inline-block;

  padding: 0;

  font: inherit;
  vertical-align: middle;

  background-color: transparent;
  border: none;

  cursor: pointer;

  // Основные кнопки сайта

  &--primary {
    @include fz-lh(18px, 20px);

    padding: 15px 11px;

    font-weight: 700;
    color: $text-heading;
    text-transform: uppercase;
    text-align: center;

    border: 2px solid $button-border-color;

    transition: background-color $short-transition, color $short-transition;

    &:hover,
    &:focus {
      background-color: $grey;
      color: $white;
    }

    &:active {
      color: rgba($white, 0.3);
    }
  }
}
