.button {
  @include fz-lh(18px, 20px);
  font-weight: 700;
  color: $color-title-text;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  background-color: transparent;
  border: 2px solid $color-button-border;
}
