.catalog {
  padding-bottom: 30px;

  @media (min-width: $tablet-width) {
    padding-bottom: 53px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 57px;
  }
}

.catalog__list {
  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.catalog__item {
  margin-bottom: 30px;
  outline: 3px solid tomato;
  outline-offset: -3px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    width: calc(100% / 3);
    margin-bottom: 0;
    margin-right: 52px;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }
}
