.catalog {
  padding-top: 33px;
  padding-bottom: 30px;

  @media #{$screen-tablet} {
    padding-top: 67px;
    padding-bottom: 53px;
  }

  @media #{$screen-desktop} {
    padding-top: 111px;
    padding-bottom: 27px;
  }
}

.catalog__list {
  @media #{$screen-desktop} {
    display: flex;
    flex-wrap: wrap;
  }
}

.catalog__item {
  margin-bottom: 26px;

  &:last-child {
    margin-bottom: 0;

    @media #{$screen-desktop} {
      margin-bottom: 30px;
    }
  }

  @media #{$screen-tablet} {
    margin-bottom: 54px;
  }

  @media #{$screen-desktop} {
    width: 316px;
    margin-bottom: 30px;
    margin-right: 51px;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }
}
