.catalog-menu {
  @include fz-lh(19px, 24px);

  position: relative;

  font-weight: 700;

  @media #{$screen-tablet} {
    @include fz-lh(20px, 30px);

    display: flex;
  }

  @media #{$screen-desktop} {

  }
}

.catalog-menu__item {
  &:nth-child(odd) .catalog-menu__link {
    background-color: $green;

    &:hover,
    &:focus,
    &:active {
      background-color: #59d5bc;
      box-shadow: 0 -5px 0 0 #59d5bc;
    }
  }

  &:nth-child(even) .catalog-menu__link {
    background-color: $green--darken;

    &:hover,
    &:focus,
    &:active {
      background-color: #46c1ae;
      box-shadow: 0 -5px 0 0 #46c1ae;
    }
  }

  @media #{$screen-tablet} {
    flex-basis: 50%;
  }
}

.catalog-menu__link {
  position: relative;

  display: block;

  padding: 24px 160px 31px 30px;

  color: $white;

  background-repeat: no-repeat;

  &:hover,
  &:focus,
  &:active {
    &::after {
      transition: transform $long-transition;
      transform: translateY(-55%);
    }

    .catalog-menu__text {
      transition: transform $long-transition;
      display: block;
      transform: translateY(-5px);
    }
  }

  &--interior::after {
    content: "";

    position: absolute;
    top: 50%;
    right: 6%;
    transform: translateY(-50%);

    display: block;
    width: 40px;
    height: 62px;

    background-image: url("../img/icon-interior.svg");
    background-position: 0 0;
    opacity: 0.5;

    transition: opacity $short-transition;

    @media #{$screen-tablet} {
      right: 8%;
    }
  }

  &--toy::after {
    content: "";

    position: absolute;
    top: 50%;
    right: 2%;
    transform: translateY(-50%);

    display: block;
    width: 60px;
    height: 60px;

    background-image: url("../img/icon-toy.svg");
    background-position: 0 0;
    opacity: 0.5;

    transition: opacity $short-transition;

    @media #{$screen-tablet} {
      right: 8%;
    }
  }

  &--interior:hover,
  &--interior:focus,
  &--toy:hover,
  &--toy:focus {
    &::after {
      opacity: 0.7;
    }
  }

  &--interior:active,
  &--toy:active {
    &::after {
      opacity: 0.3;
    }
  }

  @media #{$screen-tablet} {
    padding: 25px 167px 34px 37px;
  }

  @media #{$screen-desktop} {
    padding: 25px 350px 34px 37px;
  }
}
