.catalog-menu {
  @include fz-lh(19px, 24px);

  position: relative;

  font-weight: 700;

  @media #{$screen-tablet} {
    @include fz-lh(20px, 30px);

    display: flex;
  }
}

.catalog-menu__item {
  &:nth-child(odd) .catalog-menu__link {
    background-color: $green;

    &:hover,
    &:focus,
    &:active {
      background-color: #59d5bc;
      box-shadow: 0 -5px 0 0 #59d5bc;

      transition: transform $long-transition;
    }
  }

  &:nth-child(even) .catalog-menu__link {
    background-color: $green--darken;

    &:hover,
    &:focus,
    &:active {
      background-color: #46c1ae;
      box-shadow: 0 -5px 0 0 #46c1ae;

      transition: transform $long-transition;
    }
  }

  @media #{$screen-tablet} {
    flex-basis: 50%;
  }
}

.catalog-menu__link {
  position: relative;

  display: block;
  padding-top: 23px;
  padding-bottom: 19px;

  color: $white;

  &:hover,
  &:focus {
    outline: none;

    .catalog-menu__content {
      transform: translateY(-5px);

      transition: transform $long-transition;
    }

    .catalog-menu__icon {
      opacity: 0.7;
    }
  }

  &:active {
    .catalog-menu__icon {
      opacity: 0.3;
    }
  }

  @media #{$screen-mobile} {
    z-index: 1;
  }

  @media #{$screen-tablet} {
    padding: 26px 36px 39px 36px;
  }

  @media #{$screen-desktop} {
    padding: 25px 36px 44px 36px;
  }
}

.catalog-menu__content {
  display: flex;
  align-items: center;

  @media #{$screen-mobile} {
    max-width: 260px;
    margin: 0 auto;
  }
}

.catalog-menu__text {
  max-width: 175px;
  margin-bottom: auto;
}

.catalog-menu__icon {
  margin-left: auto;

  fill: #149080;
  opacity: 0.5;
}
