.contacts-block {
  @include fz-lh(15px, 30px);

  color: $text-basic;

  outline: 3px solid tomato;
  outline-offset: -3px;

  @media #{$screen-tablet} and (max-width: $tablet-width-only) {
    display: flex;
  }

  @media #{$screen-tablet} {
    font-size: 17px;
  }
}

.contacts-block-row {
  display: flex;
  margin-bottom: 40px;

  @media #{$screen-tablet} and (max-width: $tablet-width-only) {
    width: 50%;
    margin-bottom: 0;
  }
}

.contacts-block__key {
  margin: 0;
  padding-right: 29px;

  @media #{$screen-tablet} {
    padding-right: 25px;
  }
}

.contacts-block__value {
  font-style: normal;

  &--email-underline {
    color: $text-basic;
    text-decoration: underline;
    text-decoration-color: #62d1ba;
  }
}
