.contacts {
  position: relative;

  padding-top: 38px;
  padding-bottom: 39px;

  @media #{$screen-tablet} {
    padding-top: 46px;
    padding-bottom: 57px;

    &::before {
      content: "";

      position: absolute;
      right: 0;
      top: 25px;

      display: block;
      width: 47px;
      height: 81px;
      background-image: url("../img/icon-flag.svg");
      background-repeat: no-repeat;
    }
  }

  @media #{$screen-desktop} {
    display: grid;
    grid-template-columns: 175px 349px 1fr;

    padding-top: 71px;
    padding-bottom: 105px;

    &::before {
      left: 115px;
      top: 132px;
    }
  }
}

.contacts__title {
  padding-bottom: 27px;

  @media #{$screen-tablet} {
    padding-top: 22px;
    padding-bottom: 49px;
  }

  @media #{$screen-desktop} {
    grid-column: 2 / 3;
    padding-bottom: 35px;
    padding-top: 79px;
  }
}

.contacts__info {
  padding-bottom: 33px;

  @media #{$screen-tablet} {
    padding-bottom: 49px;
  }

  @media #{$screen-desktop} {
    padding-bottom: 85px;
    grid-column: 2 / 3;
  }
}

.contacts__map-link {
  margin-bottom: 39px;
  position: relative;

  &::before {
    content: "";

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    display: block;
    width: 67px;
    height: 100px;
    background-image: url("../img/icon-map-pin.svg");
  }

  @media (max-width: $tablet-width-only) {
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
  }

  @media #{$screen-tablet} {
    margin-bottom: 55px;
  }

  @media #{$screen-desktop} {
    grid-column: 3 / 4;
    grid-row: 1 / 4;
    margin-bottom: 0;
  }
}

.contacts__map-frame {
  position: absolute;


  margin: auto;
  width: 100%;
  height: 100%;

  border: none;
}

.contacts__map-img {
  display: block;
  margin: 0 auto;
}

.contacts__button {
  display: block;

  @media #{$screen-tablet} and (max-width: $tablet-width-only) {
    width: 230px;
    margin: 0 auto;
  }

  @media #{$screen-desktop} {
    justify-self: start;
    align-self: end;
    grid-column: 2 / 3;
  }
}
