.contacts-block {
  @include fz-lh(15px, 30px);

  color: $text-basic;

  @media #{$screen-tablet} and (max-width: $tablet-width-only) {
    display: flex;
  }

  @media #{$screen-tablet} {
    font-size: 17px;
  }
}

.contacts-block-row {
  display: flex;
  margin-bottom: 40px;

  @media #{$screen-tablet} and (max-width: $tablet-width-only) {
    width: 50%;
    margin-bottom: 0;
  }
}

.contacts-block__key {
  margin: 0;
  padding-right: 29px;

  @media #{$screen-tablet} {
    padding-right: 25px;
  }
}

.contacts-block__value {
  font-style: normal;

  &--email-underline {
    color: $text-basic;
    border-bottom: 1px solid #62d1ba;
    transition: color $short-transition, border-color $short-transition;

    &:hover,
    &:focus {
      color: #46c1ae;
      border-bottom-color: #46c1ae;
    }

    &:active {
      border-bottom-color: rgba(#46c1ae, 0.1);
    }
  }
}
