.contacts {
  margin-bottom: 39px;
}

.contacts__title {
  margin-bottom: 27px;
}

.contacts__info {
  margin-bottom: 32px;
}

.contacts__map {
  display: block;
  margin-bottom: 39px;
}

.contacts__button {

}
