.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 22px 0;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.copyright__text {
  @include fz-lh(19px, 18px);

  margin-right: 27px;
  font-weight: 700;
  color: $text-heading;
}

.copyright__image {

}
