.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 22px 0;

  @media #{$screen-tablet} {
    padding: 0;
  }

  &:hover,
  &:focus {
    .copyright__image {
      fill: #46c1ae;
    }
  }

  &:active {
    .copyright__image {
      fill: #46c1ae;
      opacity: 0.3;
    }
  }
}

.copyright__text {
  @include fz-lh(19px, 18px);

  margin-right: 27px;
  font-weight: 700;
  color: $text-heading;
}

.copyright__image {
  fill: $green;
}
