.features-table {
  @include fz-lh(15px, 24px);

  border-collapse: collapse;
}

.features-table__row {
  border-bottom: 2px solid #ececec;
}

.features-table__key {
  text-align: left;
  font-weight: 400;
}
