.footer {
  background-color: $color-background-grey;

  @media #{$screen-tablet} {
    padding: 51px 0 58px;
  }
}

.footer__wrapper {
  @media #{$screen-tablet} {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.footer__logo-link {
  display: none;

  &:hover,
  &:focus {
    .footer__logo {
      transition: fill $short-transition;
      fill: #46c1ae;
    }
  }

  &:active {
    .footer__logo {
      opacity: 0.3;
    }
  }

  @media #{$screen-tablet} {
    display: inline;
  }
}

.footer__socials {

}

.footer__copyright {

}
