.footer {
  background-color: $color-background-grey;

  @media #{$screen-tablet} {
    padding: 51px 0 58px;
  }
}

.footer__wrapper {
  @media #{$screen-tablet} {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.footer__logo {
  display: none;

  outline: 2px solid rgba(tomato, 0.7);
  outline-offset: -2px;

  @media #{$screen-tablet} {
    display: inline;
  }
}

.footer__socials {
  outline: 2px solid rgba(blue, 0.7);
  outline-offset: -2px;
}

.footer__copyright {
  outline: 2px solid rgba(green, 0.7);
  outline-offset: -2px;
}
