.form {
  position: relative;
}

.form__fieldset {
  margin: 0;
  padding: 0;
  border: none;

  &--radio {
    margin-bottom: 30px;

    @media #{$screen-tablet} {
      margin-bottom: 49px;
    }
  }

  &--checkbox {
    margin-bottom: 32px;

    @media #{$screen-tablet} {
      margin-bottom: 66px;
      padding: 50px 0;

      background-color: $color-background-grey;
    }
  }

  &--fio-fields {
    margin-bottom: 35px;

    @media #{$screen-tablet} {
      margin-bottom: 50px;
    }
  }

  &--user-data {
    margin-bottom: 17px;

    @media #{$screen-tablet} {
      margin-bottom: 50px;
    }
  }
}

.form__fieldset-flex {
  @media #{$screen-mobile} {
    &--user-item {
      margin-bottom: 35px;
    }

    &--margin-zero {
      margin-bottom: 0;
    }
  }

  @media #{$screen-tablet} {
    display: flex;
    align-items: baseline;
  }
}

.form__fieldset-name {
  @include fz-lh(17px, 16px);

  margin-bottom: 25px;

  color: $green;
  font-weight: 700;
  text-transform: uppercase;

  @media #{$screen-mobile} {
    display: flex;
    align-items: center;

    &::after {
      content: "";

      display: block;

      margin-left: 16px;
      width: 100%;
      height: 1px;

      background-color: #62d1ba;
    }
  }

  @media #{$screen-tablet} {
    flex-basis: 167px;
    margin-bottom: 0;
  }

  &--fio {
    @media #{$screen-mobile} {
      margin-bottom: 29px;
    }
  }

  &--last {
    margin-bottom: 5px;

    @media #{$screen-tablet} {
      margin-bottom: 0;
      flex-shrink: 0;
    }
  }

  &--last-textarea {
    margin-bottom: 22px;

    @media #{$screen-tablet} {
      margin-bottom: 0;
    }
  }
}

.form__radio-list {
  flex-grow: 1;

  @media #{$screen-desktop} {
    max-width: 700px;
  }
}

.form__checkbox-list {
  flex-grow: 1;

  @media #{$screen-tablet} {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 24px;
  }

  @media #{$screen-desktop} {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.form__text-input-list {
  flex-grow: 1;

  @media #{$screen-desktop} {
    max-width: 700px;
  }
}

.form__radio-item {
  margin-bottom: 18px;

  &:last-child {
    margin-bottom: 0;
  }

  @media #{$screen-tablet} {
    margin-bottom: 21px;
  }
}

.form__checkbox-item {
  margin-bottom: 22px;

  &:last-child {
    margin-bottom: 0;
  }

  @media #{$screen-tablet} {
    margin: 0;
  }
}

.form__text-input-item {
  margin-bottom: 22px;

  &:last-child {
    margin-bottom: 0;
  }

  @media #{$screen-tablet} {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
  }
}

.form__radio {
  appearance: none;
  position: absolute;

  &:not(:disabled) + .form__label--radio {
    cursor: pointer;
  }

  &:checked + .form__label--radio {
    &::after {
      content: "";
      position: absolute;
      left: 12px;
      top: 12px;

      display: block;
      width: 18px;
      height: 18px;

      background-color: #62d1ba;
      border-radius: 50%;

      @media #{$screen-tablet} {
        left: 16px;
        top: 16px;

        width: 24px;
        height: 24px;
      }

      @media #{$screen-desktop} {
        left: 14px;
        top: 14px;
      }
    }
  }

  &:focus + .form__label--radio {
    &::before {
      border-color: #62d1ba;
    }
  }

  &:active + .form__label--radio {
    &::before {
      border-color: rgba($grey, 0.3);
    }
  }

  &:disabled + .form__label--radio {
    color: rgba($grey, 0.3);

    &::before {
      border-color: rgba($grey, 0.3);
    }

    &::after {
      background-color: rgba($grey, 0.3);
    }
  }
}

.form__checkbox {
  appearance: none;
  position: absolute;

  &:not(:disabled) + .form__label--checkbox {
    cursor: pointer;
  }

  &:checked + .form__label--checkbox {
    &::after {
      content: "";
      position: absolute;
      left: 9px;
      top: 12px;

      display: block;
      width: 21px;
      height: 16px;

      background-image: url("../img/icon-tick.svg");
      background-size: contain;
      background-repeat: no-repeat;

      @media #{$screen-tablet} {
        left: 12px;
        top: 16px;

        width: 33px;
        height: 22px;
      }
    }
  }

  &:focus + .form__label--checkbox {
    &::before {
      border-color: #62d1ba;
    }
  }

  &:active + .form__label--checkbox {
    &::before {
      border-color: rgba($grey, 0.3);
    }
  }

  &:disabled + .form__label--checkbox {
    color: rgba($grey, 0.3);

    &::before {
      border-color: rgba($grey, 0.3);
    }
  }
}

.form__text-input {
  @include fz-lh(17px, 18px);

  position: relative;

  width: 100%;
  padding: 17px 0;

  font: inherit;
  color: $input-text-color-mobile;

  background-color: transparent;
  border: none;
  border-bottom: 2px solid $input-border-color;

  &::placeholder {
    @include fz-lh(17px, 18px);

    opacity: 0.3;
  }

  &:hover {
    border-color: $input-border-color--focus;
  }

  &:focus {
    outline: none;
    border-color: $input-border-color--focus;
  }

  &--tel {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      z-index: 2;

      display: block;

      width: 55px;
      height: 54px;
      background-image: url("../img/icon-play.svg");
      background-repeat: no-repeat;
    }
  }

  &--mail {

  }

  &--last {
    flex-grow: 1;

    padding-top: 14px;
    padding-bottom: 20px;

    @media #{$screen-desktop} {
      max-width: 700px;
    }
  }

  &--textarea {
    width: 100%;
    height: 142px;
    padding: 17px;

    border: 2px solid $input-border-color;

    resize: none;
  }
}

// .form__text-input--tel::after {
//   content: "";
//   position: absolute;
//   left: 0;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   z-index: 2;

//   display: block;

//   width: 55px;
//   height: 54px;
//   background-image: url("../img/icon-play.svg");
//   background-repeat: no-repeat;
// }

.form__background {
  @media #{$screen-tablet} {
    background-color: $color-background-grey;
    padding: 50px 0;
    margin-bottom: 50px;
  }
}

.form__label {
  @include fz-lh(17px, 18px);

  position: relative;
  font-weight: 700;

  &--radio {
    display: flex;
    align-items: center;
    // padding-left: 60px;

    &::before {
      content: "";

      flex-shrink: 0;
      display: block;
      // position: absolute;
      // left: 0;
      // top: 0;
      width: 42px;
      height: 42px;
      margin-right: 20px;
      border: 2px solid $grey;
      border-radius: 50%;

      @media #{$screen-tablet} {
        width: 55px;
        height: 55px;
        margin-right: 26px;
      }

      @media #{$screen-desktop} {
        width: 52px;
        height: 52px;
        margin-right: 27px;
      }
    }

    &:hover {
      &::before {
        border-color: #62d1ba;
      }
    }
  }

  &--checkbox {
    display: flex;
    align-items: center;

    &::before {
      content: "";

      flex-shrink: 0;
      display: block;
      width: 39px;
      height: 39px;
      margin-right: 24px;
      border: 2px solid $grey;

      @media #{$screen-tablet} {
        width: 53px;
        height: 53px;
        margin-right: 28px;
      }

      @media #{$screen-desktop} {
        margin-right: 27px;
      }
    }

    &:hover {
      &::before {
        border-color: #62d1ba;
      }
    }
  }

  &--fio {
    display: block;

    @media #{$screen-tablet} {
      display: inline-block;
      margin-right: 25px;
    }
  }

  @media #{$screen-tablet} {
    font-size: 19px;
  }
}

.form__order {
  display: flex;
  flex-direction: column;

  @media #{$screen-tablet} {
    flex-direction: row-reverse;
    align-items: center;
  }

  @media #{$screen-desktop} {
    width: 700px;
    margin-left: 165px;
  }
}

.form__details {
  @include fz-lh(14px, 16px);

  margin-bottom: 30px;

  color: $text-basic;
}

.form__button {
  @media #{$screen-tablet} {
    margin-right: auto;
  }
}
