.order {
  margin-bottom: 55px;
  padding-top: 20px;

  @media #{$screen-tablet} {
    margin-bottom: 51px;
    padding-top: 55px;
  }

  @media #{$screen-desktop} {
    padding-top: 99px;
  }
}

.order__description {
  @include fz-lh(13px, 24px);

  margin: 0;
  margin-bottom: 29px;

  color: $text-basic;

  @media #{$screen-tablet} {
    @include fz-lh(17px, 30px);

    max-width: 700px;
    margin: 0 auto;
    margin-bottom: 62px;
  }
}
