.product {
  display: flex;
  flex-direction: column;

  height: 100%;

  &:hover,
  &:focus {
    .product__description {
      box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);

      transition: box-shadow $short-transition;
    }
  }

  &:active {
    .product__description {
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);

      transition: box-shadow $short-transition;
    }
  }

  @media #{$screen-tablet} {
    flex-direction: row;
  }

  @media #{$screen-desktop} {
    flex-direction: column;
  }
}

.product__image-link {
  display: block;

  @media #{$screen-tablet} and (max-width: $tablet-width-only) {
    width: 50%;
  }
}

.product__image {
  display: block;
}

.product__description {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  padding: 27px 28px 28px;

  border: 1px solid $section-border-color;

  @media #{$screen-tablet} {
    width: 50%;
    padding: 27px 33px 25px;
  }

  @media #{$screen-desktop} {
    width: auto;
    padding: 27px 27px 24px;
  }
}

.product__info {
  margin-bottom: 17px;
}

.product__title {
  @include fz-lh(17px, 24px);

  margin: 0;
  margin-bottom: 6px;

  font-weight: 700;

  @media #{$screen-tablet} {
    @include fz-lh(20px, 24px);
  }
}

.product__title-link {
  display: block;

  color: $text-heading;

  transition: opacity $short-transition;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.product__size {
  @include fz-lh(13px, 30px);

  margin: 0;

  color: $text-basic;

  @media #{$screen-tablet} {
    @include fz-lh(15px, 30px);
  }
}

.product__purchase-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: auto;
  padding-top: 24px;

  border-top: 1px solid $section-border-color;

  @media #{$screen-tablet} {
    padding-top: 23px;
  }

  @media #{$screen-desktop} {
    padding-top: 18px;
  }
}

.product__price {
  @include fz-lh(15px, 24px);

  margin: 0;
  padding-right: 20px;

  font-weight: 700;

  @media #{$screen-tablet} {
    @include fz-lh(17px, 24px);
  }
}

.product__cart-button {
  color: $black;

  opacity: 0.2;

  transition: opacity $short-transition, fill $short-transition;

  &:hover,
  &:focus {
    fill: $green;

    opacity: 1;
  }

  &:active {
    fill: $green;

    opacity: 0.3;
  }
}
