.product {

}

.product__image-link {

}

.product-image {

}

.product__title-link {
  display: block;
}

.product__title {
  margin: 0;

  @include fz-lh(17px, 24px);
  font-weight: 700;
  color: $color-title-text;
}

.product__info {
  margin: 0;
  padding-bottom: 17.5px;
  border-bottom: 1px solid #ececec;

  @include fz-lh(13px, 30px);
  color: $color-basic-text;
}

.product__purchase-menu {

}

.product__price {
  margin: 0;

  @include fz-lh(15px, 24px);
  font-weight: 700;
}

.product__cart-button {

}
