.producing {
  border: 1px solid #ececec;
}

.producing__title {
  @include fz-lh(17px, 24px);

  margin: 0;

  font-weight: 700;
}

.producing__video {
  margin-bottom: 35px;
}

.producing__play-video {

}

.producing__preview {

}

.producing__description {
  @include fz-lh(13px, 24px);

  margin: 0;
  margin-bottom: 41px;

  color: $text-basic;
}

.producing__button {
  margin-bottom: 33px;
}
