.producing {
  padding-bottom: 58px;

  @media #{$screen-tablet} {
    padding-bottom: 63px;
  }

  @media #{$screen-desktop} {
    padding-bottom: 105px;
  }
}

.producing__containter {
  border: 1px solid #ececec;

  &:hover,
  &:focus {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }

  @media #{$screen-tablet} {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "video"
      "title"
      "info";
  }

  @media #{$screen-desktop} {
    grid-template-columns: 682px 366px;
    grid-template-rows: auto auto;
    grid-template-areas:
      "video title"
      "video info";
  }
}

.producing__title {
  grid-area: title;

  position: relative;

  @include fz-lh(17px, 24px);

  margin: 0;
  padding: 21px 13px 26px 91px;

  font-weight: 700;

  outline: 3px solid rgba(tomato, 0.7);
  outline-offset: -3px;

  @media #{$screen-tablet} {
    font-size: 20px;
    padding: 39px 40px 25px 40px;
  }

  @media #{$screen-desktop} {
    padding: 96px 110px 27px 79px;
  }

  &::before {
    content: "";

    position: absolute;
    left: 0;
    top: 0;

    display: block;

    width: 32px;
    height: 22px;

    background-image: url("../img/icon-video.svg");
    background-repeat: no-repeat;
  }
}

.producing__video {
  position: relative;
  grid-area: video;

  outline: 3px solid rgba(cyan, 0.7);
  outline-offset: -3px;
}

.producing__play-video {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  width: 101px;
  height: 77px;
  margin: auto;

  background-image: url("../img/icon-play.svg");
  background-repeat: no-repeat;
  background-size: cover;

  &:hover,
  &:focus {
    width: 121px;
    height: 92px;
  }

  &:active {
    width: 81px;
    height: 62px;

    opacity: 0.3;
  }
}

.producing__preview {

}

.producing__info {
  grid-area: info;

  padding: 35px 29px 32px 33px;

  outline: 3px solid rgba(yellow, 0.7);
  outline-offset: -3px;

  @media #{$screen-tablet} {
    padding: 0 17px 46px 40px;
  }

  @media #{$screen-desktop} {
    padding: 0 36px 60px 79px;
  }
}

.producing__description {
  @include fz-lh(13px, 24px);

  margin: 0;
  margin-bottom: 41px;

  color: $text-basic;

  @media #{$screen-tablet} {
    @include fz-lh(15px, 30px);
  }
}

.producing__button {
  @media #{$screen-tablet} {
    width: 584px;
  }

  @media #{$screen-desktop} {
    width: auto;
  }
}
