.product {

}

.product__image-link {

}

.product-image {

}

.product__title-link {
  @include fz-lh(17px, 24px);

  display: block;

  color: $text-heading;
  font-weight: 700;
}

.product__title {
  @include fz-lh(17px, 24px);

  margin: 0;
}

.product__info {
  @include fz-lh(13px, 30px);

  margin: 0;
  padding-bottom: 17.5px;

  color: $text-basic;

  border-bottom: 1px solid #ececec;
}

.product__purchase-menu {

}

.product__price {
  @include fz-lh(15px, 24px);

  margin: 0;

  font-weight: 700;
}

.product__cart-button {

}
