.site-navigation {
  @media #{$screen-mobile} {
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
  }

  @media #{$screen-tablet} {
    display: flex;
  }

  @media #{$screen-desktop} {
    flex-wrap: wrap;
  }
}

.site-navigation__item {
  @include fz-lh(17px, 24px);

  border-top: 1px solid $grey--lighten;

  @media #{$screen-tablet} {
    border: 0;
  }

  @media #{$screen-tablet} and (max-width: $tablet-width-only) {
    margin-right: 37px;

    font-size: 15px;
  }

  @media #{$screen-desktop} {
    margin-right: 70px;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  &:last-child {
    margin-right: 0;
  }

  &:nth-child(n+3) {
    display: none;

    @media #{$screen-desktop} {
      display: block;
      margin-right: 63px;

      font-size: 15px;

      .site-navigation__link {
        padding: 25px 0 24px;
      }
    }
  }
}


.site-navigation__link {
  display: block;
  padding: 28px 0 26px 46px;

  color: $text-heading;
  font-weight: 700;

  transition: color $short-transition;

  &:hover,
  &:focus {
    color: rgba($text-heading, 0.6);
  }

  &:active {
    color: rgba($text-heading, 0.3);
  }

  @media #{$screen-mobile} {
    max-width: 260px;
    margin: 0 auto;
  }

  @media #{$screen-tablet} {
    min-height: auto;
    padding: 16px 0;

    border: 0;
  }

  @media #{$screen-desktop} {
    padding: 33px 0 26px;
  }
}
