.site-navigation {
  @include fz-lh(17px, 24px);

  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.site-navigation__item {

}


.site-navigation__link {
  min-height: 79px;
  padding: 28px 0 26px 46px;
  display: block;
  color: $text-heading;
  font-weight: 700;
  border-top: 1px solid $grey--lighten;
}
