.site-navigation {

  font-size: 17px;
  line-height: 24px;

  outline: 3px solid rgba(255, 50, 0, 0.5);
  outline-offset: -3px;
}

.site-navigation__item {

}

.site-navigation__link {
  color: $text-heading;
  font-weight: 700;
}
