.slider {
  outline: 3px solid tomato;
}

.slider__feedback-list {
  margin-bottom: 30px;
}

.slider__feedback-item {

}

.slider__feedback-text {
  @include fz-lh(15px, 30px);

  margin: 0;
  margin-bottom: 33px;
  padding: 0;

  color: $text-basic;
}

.slider__feedback-author {
  @include fz-lh(17px, 24px);

  margin: 0;

  font-weight: 700;
}

.slider__feedback-author-link {
  @include fz-lh(17px, 30px);

  margin: 0;

  color: $text-basic;
}

.slider__switcher {
  margin-bottom: 38px;
}

.slider__switcher-button {
  &--back {

  }

  &--forward {

  }
}
