.slider {

}

.slider__item {

}

.slider__text {
  @include fz-lh(15px, 30px);

  margin: 0;
  margin-bottom: 33px;
  padding: 0;

  color: $text-basic;

  @media #{$screen-tablet} {
    font-size: 17px;
    margin-bottom: 61px;
  }

  @media #{$screen-desktop} {
    margin-bottom: 44px;
  }
}

.slider__author {

}

.slider__author-name {
  @include fz-lh(17px, 24px);

  margin: 0;

  font-weight: 700;

  @media #{$screen-tablet} and (max-width: $tablet-width-only) {
    font-size: 18px;
  }
}

.slider__author-link {
  @include fz-lh(17px, 30px);

  color: $text-basic;
}
