.socials {
  padding: 23px 0 25px;

  text-align: center;

  border-bottom: 1px solid #e5e5e5;

  @media #{$screen-tablet} {
    padding: 0;
  }
}

.socials__item {
  display: inline-block;
  margin-right: 40px;

  &:last-child {
    margin-right: 0;
  }
}

.socials__link {
  display: block;
  width: 28px;
  height: 28px;

  color: $black;
  background-repeat: no-repeat;
  background-position: center;

  &:hover,
  &:focus {
    .socials__icon path {
      fill: #46c1ae;
    }
  }

  &:active {
    .socials__icon path {
      fill: #46c1ae;
      opacity: 0.3;
    }
  }

  &--ig {

  }

  &--fb {

  }

  &--tw {

  }
}
