.user-navigation {
  @include fz-lh(17px, 24px);

  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.user-navigation__item {
}


.user-navigation__link {
  position: relative;
  min-height: 79px;
  padding: 28px 0 26px 0;
  display: block;
  color: $text-heading;
  font-weight: 700;
  border-top: 1px solid $grey--lighten;

  // &::before {
  //   content: "";
  //   position: absolute;
  //   left: 0;
  //   top: 0;
  //   bottom: 0;
  //   margin: auto 0;
  //   display: block;
  //   width: 21px;
  //   height: 21px;
  //   background-color: tomato;
  // }
}
