.user-navigation {
  @include fz-lh(17px, 24px);

  @media #{$screen-mobile} {
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
  }

  @media #{$screen-tablet} {
    display: flex;
  }

  @media #{$screen-desktop} {
    justify-content: flex-end;
  }
}

.user-navigation__item {
  border-top: 1px solid $grey--lighten;

  @media #{$screen-tablet} {
    display: flex;

    border-top: 0;
    border-left: 1px solid rgba(#000000, 0.1);
  }
}


.user-navigation__link {
  position: relative;
  padding: 28px 0 26px 46px;
  display: block;
  color: $text-heading;
  font-weight: 700;

  transition: color $short-transition, opacity $short-transition, fill $short-transition;

  &:hover,
  &:focus {
    color: rgba($text-heading, 0.6);

    .user-navigation__icon {
      opacity: 1;
      fill: $green;
    }
  }

  &:active {
    color: rgba($text-heading, 0.3);

    .user-navigation__icon {
      opacity: 0.3;
      fill: $green;
    }
  }

  &--search {
    @media #{$screen-tablet} {
      padding: 36px 31px 34px 33px;
    }
  }

  &--cart {
    @media #{$screen-tablet} {
      padding: 33px 0 32px 31px;
    }

    .user-navigation__icon {
      @media #{$screen-tablet} {
        margin-right: 27px;
      }
    }
  }

  @media #{$screen-mobile} {
    max-width: 260px;
    margin: 0 auto;
  }
}

.user-navigation__icon {
  opacity: 0.2;

  @media #{$screen-mobile} {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}

.user-navigation__text {
  flex-grow: 1;

  @media #{$screen-tablet} {
    display: none;
  }
}
