$color-basic-text: #444444;
$color-title-text: #000000;
$color-white-text: #FFFFFF;
$color-main-green: #63D1BB;
$color-secondary-green: #56C3B2;
$color-background-grey: #F1F1F1;
$color-button-border: #444444;
